@font-face {
  font-family: Towhid;
  src: url(./assets/towhid.woff2);
}

:root {
  --mainTextColor: #fff;
  --secondaryTextColor: #eb5939;
  --bgColor: #0d0d0d;
  --halfWhite: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bgColor);
  font-family: "Towhid", sans-serif;
  color: var(--mainTextColor);
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 10px 0px;
}

header .logo img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  filter: brightness(100%) contrast(100%) saturate(9%) blur(0px)
    hue-rotate(0deg);
  display: block;
}

header .menu ul {
  list-style-type: none;
}

header .menu ul li {
  float: left;
  margin-left: 10px;
}

header .menu ul li a {
  text-decoration: none;
  color: var(--mainTextColor);
}

main {
  background-image: url(./assets/hero-bg2.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 80vh;
  height: auto;
}

.hero .content {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 50px 0px;
}

.hero .text {
  font-size: 70px;
  line-height: 1.4em;
  max-width: min-content;
  text-transform: uppercase;
  span {
    color: var(--secondaryTextColor);
  }
}

.hero .tagline {
  display: flex;
  gap: 25px;
  color: var(--halfWhite);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 20px;
}

.hero .tagline span:not(:first-child) {
  display: list-item;
}

